<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccountMapper" >

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

  <select id="findByUserName" resultType="account" parameterType="account" >
    select *
    from t_account
    where 1=1
    and user_name = #{userName,jdbcType=VARCHAR}

  </select>

  <select id="selectById" resultType="account" parameterType="account" >
    select
    id, user_name, `password`, `type`, `status`, info_id, qq_id, sina_id
    from t_account
    where 1=1

    <if test="id != null" >
      and id = #{id,jdbcType=BIGINT}
    </if>

    <if test="userName != null" >
      and user_name = #{userName,jdbcType=VARCHAR}
    </if>

    <if test="infoId != null" >
      and info_id = #{infoId,jdbcType=BIGINT}
    </if>

    <if test="qqId != null" >
      and qq_id = #{qqId,jdbcType=VARCHAR}
    </if>

    <if test="sinaId != null" >
      and sina_id = #{sinaId,jdbcType=VARCHAR}
    </if>

  </select>

  <insert id="insert" parameterType="account" >
    insert into t_account (id, user_name, password,`type`,status,info_id,qq_id,sina_id)
    values ( #{id},#{userName},#{password},#{type},#{status},#{infoId},#{qqId},#{sinaId})
  </insert>

  <update id="updateById" parameterType="account" >
    update t_account
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="infoId != null" >
        info_id = #{infoId,jdbcType=BIGINT},
      </if>
      <if test="qqId != null" >
        qq_id = #{qqId,jdbcType=VARCHAR},
      </if>
      <if test="sinaId != null" >
        sina_id = #{sinaId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <delete id="deleteById"  parameterType="account" >
        delete from t_account where id = #{id}
  </delete>

    <select id="list" resultType="account" parameterType="map">
        select * from t_account
    </select>

</mapper>