<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AdminMapper" >

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

  <select id="selectByPrimaryKey" resultType="admin"  parameterType="admin" >
    select
     id, `name`, email, phone, address, sex, id_card, set_time, head
    from t_admin
    where id = #{id,jdbcType=BIGINT}
  </select>

  <insert id="insert" parameterType="admin" >
    insert into t_admin (id, `name`, email,
      phone, address, sex,
      id_card, set_time, head
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR},
      #{phone,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER},
      #{idCard,jdbcType=VARCHAR}, #{setTime,jdbcType=TIMESTAMP}, #{head,jdbcType=VARCHAR}
      )
  </insert>

    <delete id="deleteByPrimaryKey" parameterType="admin" >
        delete from t_admin where id = #{id}
    </delete>

  <update id="updateByPrimaryKey" parameterType="admin" >
    update t_admin
    <set >
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="idCard != null" >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="head != null" >
        head = #{head,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultType="admin" parameterType="pd">
    select *
    from t_admin
    where 1=1
    <if test="name != null">
      and `name` like CONCAT('%',#{name},'%')
    </if>
  </select>

</mapper>