<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="LogMapper" >


  <select id="selectByPrimaryKey" resultType="log" parameterType="log" >
    select id, content, `type`, set_time, account_id, `status`
    from t_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="log" >
    delete from t_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="log" >
    insert into t_log (id, content, `type`, 
      set_time, account_id, `status`
      )
    values (#{id,jdbcType=BIGINT}, #{content,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{setTime,jdbcType=TIMESTAMP}, #{accountId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}
      )
  </insert>

  <update id="updateByPrimaryKey" parameterType="log" >
    update t_log
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        `status` = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" parameterType="pd" resultType="log">
    select * from t_log where 1=1
  </select>

</mapper>