<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="VersionMapper" >

  <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

  <select id="selectByPrimaryKey" resultType="version" parameterType="version" >
    select
    id, code, `name`, url, set_time,content
    from t_version
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_version
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="version" >
    insert into t_version (id, code, `name`, 
      url, set_time, content
      )
    values (#{id,jdbcType=BIGINT}, #{code,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{setTime,jdbcType=TIMESTAMP}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="version" >
    update t_version
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="setTime != null" >
        set_time = #{setTime,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

    <select id="list" resultType="version" parameterType="pd">
        select * from t_version
        where 1=1
        <if test="name != null" >
            `name` = #{name}
        </if>
    </select>

</mapper>