<?xml version="1.0" encoding="UTF-8" ?>
<!--
* 客户端版本 Mapper
* @author GaoXiang
* @version 1.0
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="VersionMapper" >

    <!-- 开启缓存 打印日志使用：LoggingEhcache。 不打印日志使用：EhcacheCache。 -->
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <!-- 根据 id 查询所有列 -->
    <select id="selectById" resultType="com.elangzhi.ssm.model.Version" parameterType="long" >
        select id,code,name,url,set_time,content
        from t_version
        where id = #{id}
    </select>

    <!-- 根据 id 删除 -->
    <delete id="deleteById" parameterType="long" >
        delete from t_version
        where id = #{id}
    </delete>

    <!-- 批量删除，参数是名为ids的list -->
    <delete id="deleteByIds" parameterType="list">
        delete from t_version where id in
        <foreach item="ids" collection="list" open="(" separator="," close=")">
            #{ids}
        </foreach>
    </delete>

    <!-- 插入数据 -->
    <insert id="insert" parameterType="com.elangzhi.ssm.model.Version" >
        insert into t_version (id,code,name,url,set_time,content)
        values (#{id},#{code},#{name},#{url},#{setTime},#{content})
    </insert>

    <!-- 根据 id 更新数据 -->
    <update id="updateById" parameterType="com.elangzhi.ssm.model.Version" >
        update t_version
        <set>
            <if test="code != null" >
                code = #{code},
            </if>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="url != null" >
                url = #{url},
            </if>
            <if test="setTime != null" >
                set_time = #{setTime},
            </if>
            <if test="content != null" >
                content = #{content},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 查询列表，分页信息不在此处控制，参数为map，返回实体 -->
    <select id="list" resultType="com.elangzhi.ssm.model.Version" parameterType="map">
        select id,code,name,url,set_time,content
        from t_version
        where 1=1
        <if test="name != null" >
            `name` = #{name}
        </if>
    </select>

</mapper>