<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="AccountMapper" >

  <select id="findByUserName" parameterType="account" resultType="account" >
    select *
    from t_account
    where user_name = #{userName}
  </select>

  <insert id="insert" parameterType="admin" >
    insert into t_account (id, user_name, password,`type`,status,info_id,qq_id,sina_id)
    values ( #{id},#{userName},#{password},#{type},#{status},#{infoId},#{qqId},#{sinaId})
  </insert>

    <delete id="deleteByPrimaryKey">
        delete from t_account where id = #{id}
    </delete>

</mapper>