<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="PowerMapper" >

  <select id="selectByPrimaryKey" resultType="com.elangzhi.ssm.model.Power" >
    select *
    from t_power
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey"  >
    delete from t_power
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="insert" >
    insert into t_power (id, `name`, intro, 
      parent_id, `type`, url, 
      sort, icon)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{intro,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, 
      #{sort,jdbcType=INTEGER}, #{icon,jdbcType=VARCHAR})
  </insert>

  <update id="updateByPrimaryKey" >
    update t_power
    set `name` = #{name,jdbcType=VARCHAR},
      intro = #{intro,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      icon = #{icon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="list" resultType="java.util.Map">
      select * from t_power
  </select>

</mapper>